.stepsHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 690px;
  margin: 0px auto;
}
.list {
  width: 25%;
  position: relative;
}
.list:before {
  content: '';
  width: 100%;
  position: absolute;
  right: 50%;
  top: 14px;
  border-bottom: 1px solid #969db2;
}
.list:first-child:before {
  display: none;
}
.active span {
  border-color: #007bff;
    background-color: #e9ecef;
}
.numberBox {
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(150, 157, 178);
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: block;
  border-radius: 50%;
  text-align: center;
  z-index: 5;
}
.stpHead {
  color: rgb(150, 157, 178);
  font-size: 14px;
  text-align: center;
  padding: 40px 0px 0px;
}

