.form_item {
  margin-bottom: 15px;
}

.textarea_field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Allows vertical resizing */
}

.textarea_field:focus {
  outline: none;
}

.error_field {
  border-color: red;
}

.error_message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
